<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93296071638-rdgbs78t54f3lro6eimhuf3jo9o0mo2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93296071638-rdgbs78t54f3lro6eimhuf3jo9o0mo2v</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzh-soN_l7arY_chQJeLHGo6ZRfmkRfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>93296071638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.products.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kjlhlhk</string>
	<key>STORAGE_BUCKET</key>
	<string>kjlhlhk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93296071638:ios:d67571fcaeb010afb90a77</string>
</dict>
</plist>